.search_form {
background-position:center bottom;
background-color:#d8d8d8;
border:2px solid #603A45;
font-family:Arial,Helvetica,sans-serif;
font-size:8pt;
padding:15px;
position:fixed;
right:-234px;
top:110px;
width:200px;
height:300px;
z-index:20;
}
.search_handle {
background-color:#656565;
background-repeat:no-repeat;
border:1px solid #603A45;
cursor:pointer;
display:block;
height:136px;
margin-left:-42px;
margin-top:-17px;
position:absolute;
width:24px;
}

.search_handleText{
	list-style-type:none;
	color:#ffffff;
	font-weight:bold;
	font-size:14px
}

.leftlabel {
display:block;
font-size:10pt;
font-weight:bold;
padding-right:3px;
text-align:left;
}